@import "tailwindcss";
@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark,
        cupcake;
}

:root {
    --border: 1px;
    --radius-field: 0.25rem;
}

@utility debug {
    @apply border border-black;
}
